@charset "UTF-8";

body {
    background-color: rgb(86, 117, 255);
    font-family: Arial, Helvetica, sans-serif;
}

header h1 {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    width: 500px;
    padding: 15px;
    margin: auto;
    text-align: center;
    
}

div {
    padding: 8px;
    text-align: center;
    

}



footer {
    color: white;
    text-align: center;
    font-size: 20px;
}